.has-bg-img {
    background-image: url('./863522-most-popular-abstract-gaming-wallpapers-1080p-2560x1440-hd-for-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.white {
    color: white        !important;
}

.red {
    color: red          !important;
}