.has-bg-img {
    /*background-image: url('./wpibg.png');*/
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #AC2B37;
    background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.white {
    color: white        !important;
    font-weight: bold;
}

.red {
    color: #9D1212       !important;
    font-weight: bold;
}

.black {
    color: black
}

.center {
    align-content: center;
    justify-content: center;
}

.huge-title {
    font-size: 72px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

a:hover {
    background-color: white;
    opacity: 60%;
    color: black        !important;
}
